* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  text-align: center;
}

header #header-logo {
  padding: 50px 0;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  padding: 20px 10px;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

header li a:hover,
header li a.active {
  background-color: #b3e5fc;
}

main {
  min-height: 500px;
}

main h1 {
  text-transform: uppercase;
}

#pasta-types-container,
.product-info {
  color: #002d72;
}

#pasta-types-container {
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-position: center;
  padding: 70px 0;
}

#pasta-types-container h1 {
  padding: 20px 0;
}

#pasta-types-container .cards-container {
  display: flex;
  flex-wrap: wrap;
}

#pasta-types-container .cards-container .card {
  position: relative;
  width: calc((100% / 3) - 10px);
  margin: 5px;
}

#pasta-types-container .cards-container .card:hover .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pasta-types-container .cards-container .card img {
  max-width: 100%;
}

#pasta-types-container .cards-container .card .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

#pasta-types-container .cards-container .card .overlay a {
  padding: 20px;
  font-size: 20px;
}

.arrow {
  display: block;
  position: fixed;
  top: 230px;
  padding: 60px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.product-info {
  padding: 80px 0 50px 0;
  background-color: #b7dae5;
}

.product-info h1 {
  text-align: center;
}

.product-info img {
  display: block;
  max-width: 100%;
}

.product-info p {
  font-size: 22px;
}

#footer-top #footer-contacts {
  width: calc(100% / 3);
}

#footer-top #footer-menus {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% * 2 / 3);
}

#footer-top #footer-menus .footer-menu {
  width: 50%;
}

#footer-bottom img {
  max-width: 100%;
}

