* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  text-align: center;
}

header #header-logo {
  padding: 50px 0;
}

header li {
  display: inline-block;
}

header li a {
  display: inline-block;
  padding: 20px 10px;
  font-size: 25px;
  font-weight: 700;
  color: black;
}

header li a:hover {
  background-color: #b3e5fc;
}

#footer-top #footer-contacts {
  width: calc(100% / 3);
}

#footer-top #footer-menus {
  width: calc(100% * 2 / 3);
}

#footer-top #footer-menus .footer-menu {
  width: 50%;
}

#footer-bottom img {
  max-width: 100%;
}

