#footer-top {
    #footer-contacts{
        width: calc(100% / 3);
    }

    #footer-menus {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% * 2 / 3);

        .footer-menu {
            width: 50%;
        }
    }
}

#footer-bottom img {
    max-width: 100%;
}
