#footer-top {
    padding: 100px 0;

    #footer-contacts{
        width: calc(100% / 3);
        color: #a9a9a9;
    }

    #footer-menus {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% * 2 / 3);

        .footer-menu {
            width: 50%;

            h3 {
                margin: 20px 0;
                color: #9f9f9f;
                text-transform: uppercase;
            }

            li {
                margin: 10px 0;

                a {
                    color: #a9a9a9;
                }
            }
        }
    }
}

#footer-bottom img {
    max-width: 100%;
}
